<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 패키지 명 + 인터페이스명과 맞춰줘야한다. -->
<mapper namespace="edu.kosmo.krm.mapper.MemberInfoMapper">

	<resultMap type="edu.kosmo.krm.vo.MemberVO" id="memberMap">
		<result property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="nickname" column="nickname" />
		<result property="name" column="name" />
		<result property="phone" column="phone" />
		<result property="postcode" column="postcode" />
		<result property="address" column="address" />
		<result property="birth" column="birth" />
		<result property="grade" column="grade" />
		<result property="email" column="email" />
		<result property="point" column="point" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>

	<resultMap type="edu.kosmo.krm.vo.AuthVO" id="authMap">
		<result property="member_id" column="member_id" />
		<result property="authority" column="authority" />
	</resultMap>


	<select id="getList" resultType="edu.kosmo.krm.vo.MemberVO">
	   <![CDATA[
	   		SELECT * FROM MEMBER
	   ]]>
	</select>

	<select id="getTotalCount" resultType="int">
   <![CDATA[
      select count(*) from member
   ]]>
	</select>


	<!-- 열 개씩 뽑아내는 거 한 페이지에 출력해 주는 역할 -->
	<select id="getListWithPaging"
		resultType="edu.kosmo.krm.vo.MemberVO">
   <![CDATA[
               SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT
                             *
                         FROM
                             member order by id
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
      
   
   ]]>
	</select>

	<!-- 회원 정보 조회하는 역할 -->
	<select id="read" resultType="edu.kosmo.krm.vo.MemberVO">
	<![CDATA[
		SELECT * FROM member where id = #{id}
	]]>
	</select>
	

	<!-- 회원 정보 수정을 위한 부분 (admin) -->
	<select id="update" resultType="edu.kosmo.krm.vo.MemberVO">
	<![CDATA[
		update member set nickname = #{nickname}, name = #{name}, phone = #{phone}, postcode = #{postcode}, address = #{address}, birth = #{birth}, email=#{email}, grade = #{grade}, point = #{point} where id = #{id}
	]]>
	</select>

	<!-- 회원 정보 수정을 위한 부분 (user) -->
	<select id="updateuser" resultType="edu.kosmo.krm.vo.MemberVO">
	<![CDATA[
	update member set nickname = #{nickname}, name = #{name}, phone = #{phone}, postcode = #{postcode}, address = #{address}, birth = #{birth}, email=#{email} where id = #{id}
	]]>
	</select>
	
	<!-- 회원 정보 수정을 위한 부분 (user) -->
	<select id="pwCheck" resultType="edu.kosmo.krm.vo.MemberVO">
	<![CDATA[
			SELECT
		  		  PASSWORD
			FROM
				  MEMBER
			WHERE MEMBER.ID = #{id}
	]]>
	</select>	
	

	<select id="updatePoint" resultType="edu.kosmo.krm.vo.PaymentInfoVO">
	<![CDATA[
			UPDATE MEMBER SET POINT = #{result_Point} WHERE MEMBER.ID = #{member_id}
	]]>
	</select>		
		

</mapper>