<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 패키지 명 + 인터페이스명과 맞춰줘야한다. -->
<mapper namespace="edu.kosmo.krm.mapper.ProductMapper">

	<resultMap id="productMap" type="edu.kosmo.krm.vo.ProductVO">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="capacity" column="capacity" />
		<result property="brand" column="brand" />
		<result property="stock" column="stock" />
		<result property="unit" column="unit" />
		<result property="type" column="type" />
		<result property="packaging" column="packaging" />
		<result property="discount" column="discount" />
		<result property="delivery_type" column="delivery_type" />			
		<result property="enabled" column="enabled" />
		<collection property="productImages" resultMap="ProductImageMap"></collection>
	</resultMap>
	
	<!-- join시 두 테이블에 같은 이름의 컬럼이 있어 unread 오류가 발생해 join시 컬럼명을 정해준뒤 VO에 넣기 -->
	<resultMap id="ProductImageMap" type="edu.kosmo.krm.vo.ProductImageVO">
		<result property="id" column="image_id" />
		<result property="product_id" column="product_id" />
		<result property="extension" column="extension" />
		<result property="name" column="image_name" />
		<result property="information_type" column="information_type" />
		<result property="path" column="path" />
	</resultMap>
	
	<!-- 관리자 페이지 상품 관리에서 상품 리스트와 해당 상품 썸네일 이미지만 가져오기 -->
	<select id="getAdminProductList" parameterType="map"
		resultMap="productMap">
	  <![CDATA[
            SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT * FROM product p 
                        LEFT JOIN (SELECT id AS image_id,
                        product_id, extension, name AS image_name,
                        information_type, path FROM product_image  
                        WHERE information_type = 'thumbnail') i
                        ON p.id = i.product_id  
                        ORDER BY p.id DESC 
              ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         	) WHERE RNUM > (#{pageNum}-1) * #{amount}
      ]]>
	</select>

	<!-- 
	<select id="getProductListWithPaging" parameterType="map"
		resultType="edu.kosmo.krm.vo.ProductVO">
	  <![CDATA[
               SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT * FROM product ORDER BY id DESC 
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
      ]]>
	</select>
	-->
	
	<insert id="insertProduct">
		INSERT INTO product VALUES (PRODUCT_SEQ.nextval, 
			#{name}, #{price}, #{capacity}, 
			#{brand}, #{stock}, #{unit}, 
			#{type}, #{packaging}, #{discount}, #{delivery_type}, 1)	
	</insert>
	
	<insert id="insertProductImage">
		INSERT INTO product_image VALUES (PRODUCT_IMAGE_SEQ.nextval, 
			#{product_id}, #{extension}, #{name}, #{information_type},
			#{path})
	</insert>
	
	<!-- 신상품목록 페이지에서 신상품 리스트와 해당상품 이미지 불러오기 -->
	<select id="getNewProductList" parameterType="map"
		resultMap="productMap">
	  <![CDATA[
            SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT * FROM product p 
                        LEFT JOIN (SELECT id AS image_id,
                        product_id, extension, name AS image_name,
                        information_type, path FROM product_image  
                        WHERE information_type = 'main') i
                        ON p.id = i.product_id  
                        ORDER BY p.id DESC 
              ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         	) WHERE RNUM > (#{pageNum}-1) * #{amount}
      ]]>
	</select>
	
	<!-- 베스트상품목록 페이지에서 정기배송상품 리스트와 해당상품 이미지 불러오기 -->
	<select id="getBestProductList" parameterType="map"
		resultMap="productMap">
	  <![CDATA[
            SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT * FROM product p 
                        LEFT JOIN (SELECT id AS image_id,
                        product_id, extension, name AS image_name,
                        information_type, path FROM product_image  
                        WHERE information_type = 'main') i
                        ON p.id = i.product_id 
                        LEFT JOIN (SELECT product_id, SUM(quantity) AS quantity
                        FROM product_sales GROUP BY product_id ORDER BY quantity DESC) s
                        ON p.id = s.product_id
                        WHERE s.quantity IS NOT NULL
                        ORDER BY s.quantity DESC 
              ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         	) WHERE RNUM > (#{pageNum}-1) * #{amount}
      ]]>
	</select>	
	
	<!-- 할인상품목록 페이지에서 할인상품 리스트와 해당상품 이미지 불러오기 -->
	<select id="getSaleProductList" parameterType="map"
		resultMap="productMap">
	  <![CDATA[
            SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT * FROM product p 
                        LEFT JOIN (SELECT id AS image_id,
                        product_id, extension, name AS image_name,
                        information_type, path FROM product_image  
                        WHERE information_type = 'main') i
                        ON p.id = i.product_id  
                        WHERE p.discount > 0
                        ORDER BY p.discount DESC 
              ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         	) WHERE RNUM > (#{pageNum}-1) * #{amount}
      ]]>
	</select>
	
	<!-- 정기배송상품목록 페이지에서 정기배송상품 리스트와 해당상품 이미지 불러오기 -->
	<select id="getSubscribeProductList" parameterType="map"
		resultMap="productMap">
	  <![CDATA[
            SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT * FROM product p 
                        LEFT JOIN (SELECT id AS image_id,
                        product_id, extension, name AS image_name,
                        information_type, path FROM product_image  
                        WHERE information_type = 'main') i
                        ON p.id = i.product_id 
                        WHERE p.delivery_type = '정기'
                        ORDER BY p.id DESC 
              ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         	) WHERE RNUM > (#{pageNum}-1) * #{amount}
      ]]>
	</select>
	
	<!-- 상품카테고리별목록 페이지에서 해당상품 리스트와 이미지 불러오기 -->
	<select id="getCategoryProductList" resultMap="productMap">
	  <![CDATA[
            SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT * FROM product p 
                        LEFT JOIN (SELECT id AS image_id,
                        product_id, extension, name AS image_name,
                        information_type, path FROM product_image  
                        WHERE information_type = 'main') i
                        ON p.id = i.product_id  
                        WHERE p.type = #{etype} 
              ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         	) WHERE RNUM > (#{pageNum}-1) * #{amount}
      ]]>
	</select>

	<!-- 상품상세페이지에서 해당상품 정보와 이미지 불러오기 -->
	<select id="getProductDetail" resultMap="productMap">
	  <![CDATA[
		SELECT * FROM product p 
		LEFT JOIN (SELECT id AS image_id, product_id, extension, 
		name AS image_name,information_type, path FROM product_image 
		WHERE product_id = #{id}) i
		ON p.id = i.product_id
		WHERE p.id= #{id}	
      ]]>
	</select>

</mapper>