<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 패키지 명 + 인터페이스명과 맞춰줘야한다. -->
<mapper namespace="edu.kosmo.krm.mapper.ProductMapper">

	<select id="getProductListWithPaging" parameterType="map"
		resultType="edu.kosmo.krm.vo.ProductVO">
	  <![CDATA[
               SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT * FROM product ORDER BY id DESC 
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
      ]]>
	</select>

	<select id="getProductTotalCount" resultType="int">
	<![CDATA[
		select count(*) from product
	]]>
	</select>

</mapper>