<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 패키지 명 + 인터페이스명과 맞춰줘야한다. -->
<mapper namespace="edu.kosmo.krm.mapper.ReviewMapper">

	<resultMap id="OrderMap" type="edu.kosmo.krm.joinVO.JoinReviewWriteVO">
	
		<result property="status" column="status" />
		<result property="brand" column="brand" />
		<result property="product_name" column="product_name" />
		<result property="amount" column="amount" />
		<result property="order_id" column="order_id" />	
		<result property="order_date" column="order_date"/>
		<result property="img_id" column="img_id" />
	</resultMap>
	
	

	<select id="getReviewList" resultType="edu.kosmo.krm.joinVO.JoinReviewWriteVO">
	   <![CDATA[
              SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT
							        MEMBER.NICKNAME,
							        BOARD.ID AS board_id,
							        BOARD.TITLE,
							        BOARD.CONTENT,
							        BOARD.BOARD_DATE,
							        BOARD.HIT,
							        BOARD.SCORE,
							        MEMBER_ORDER.ID AS order_id
                         FROM
							        MEMBER,
							        BOARD,
							        BOARD_CATEGORY,
							        MEMBER_ORDER,
							        ORDER_DETAIL,
							        ORDER_DETAIL_BOARD,
							        PRODUCT
						WHERE
						        MEMBER.ID = BOARD.MEMBER_ID
						AND
						        BOARD.BOARD_CATEGORY_ID = BOARD_CATEGORY.ID
						AND
						        MEMBER.ID = MEMBER_ORDER.MEMBER_ID
						AND
						        MEMBER_ORDER.ID = ORDER_DETAIL.ORDER_ID
						AND
						        ORDER_DETAIL.ID = ORDER_DETAIL_BOARD.ORDER_DETAIL_ID
						AND
						        PRODUCT.ID = ORDER_DETAIL.ORDER_ID
						AND
						        BOARD_CATEGORY_ID = 3
						AND
                              	MEMBER.ID = #{memberVO.id}
              ) A WHERE ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
         	) WHERE RNUM > (#{criteria.pageNum}-1) * #{criteria.amount}
	   ]]>
	</select>

 	<select id="getReviewTotalCount" resultType="int">
	   <![CDATA[
						SELECT count(*)
						FROM
							        MEMBER,
							        BOARD,
							        BOARD_CATEGORY,
							        MEMBER_ORDER,
							        ORDER_DETAIL,
							        ORDER_DETAIL_BOARD,
							        PRODUCT
						WHERE
						        MEMBER.ID = BOARD.MEMBER_ID
						AND
						        BOARD.BOARD_CATEGORY_ID = BOARD_CATEGORY.ID
						AND
						        MEMBER.ID = MEMBER_ORDER.MEMBER_ID
						AND
						        MEMBER_ORDER.ID = ORDER_DETAIL.ORDER_ID
						AND
						        ORDER_DETAIL.ID = ORDER_DETAIL_BOARD.ORDER_DETAIL_ID
						AND
						        PRODUCT.ID = ORDER_DETAIL.ORDER_ID
						AND
						        BOARD_CATEGORY_ID = 3
						AND
                              	MEMBER.ID = #{id}
	   ]]>
	</select>


	
</mapper> 